<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <form [formGroup]="cardForm" (ngSubmit)="OnSubmit()">
                <div class="form-group">
                    <label for="cardName">Card Name</label>
                    <input type="text" id="cardName" formControlName="cardName" class="form-control">
                    <span class="text-danger helpblock" 
                        *ngIf="cardForm.get('cardName').invalid && 
                        cardForm.get('cardName').touched">
                        <span *ngIf="cardForm.get('cardName').errors['cardIsForbidden']">This card is forbidden!</span>
                        <span *ngIf="cardForm.get('cardName').errors['required']">Field is required!</span>
                    </span>
                </div>
                <div class="form-group">
                    <label for="quantity">Quantity</label>
                    <input type="number" id="quantity" formControlName="quantity" class="form-control" max="4" min="1">
                    <span class="text-danger" 
                        *ngIf="cardForm.get('quantity').invalid && 
                        cardForm.get('quantity').touched">
                        Please enter a value between 1 and 4</span>
                </div>
                <label for="edition">Edition</label>
                <select class="form-group" formControlName="edition">
                    <option value="" selected>Choose your edtion</option>
                    <option *ngFor="let edition of editions">{{edition}}</option>
                </select>
                <p class="text-danger" 
                    *ngIf="cardForm.invalid && 
                    cardForm.touched">
                    Please enter valid options</p>
                <div>
                    <button class="btn btn-primary" type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>