<div class="row">
    <div class="col-12">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" routerLink="/decks">
                <img src="/assets/image-asset.jpeg" width="30" height="30" alt="mgtlo logo">
            </a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">MTGLO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/decks" routerLinkActive="/decks">Deck Library</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/collection" routerLinkActive="/collection">Card Collection</a>
                </li>
            </ul>
        </nav>
    </div>
</div>